
p,
h1,
h2,
h3.h4,
h5,
h6,
span,
img,
hr,
li,
ul {
    margin: 0;
    padding: 0;
}
p,
h1,
h2,
h3.h4,
h5,
h6,
span,
img,
hr,
li,
ul {
    margin: 0;
    padding: 0;
}



/* styling for navs  */
.mobile-view-nav{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(81.47deg 100% 18.63%);
    padding: 2px 9px;
}
.mobile-view-nav a{
    text-decoration: none;
}
.list{
    list-style: none;
    display: flex;
    gap: 20px;
}
.menu{
    width: 100%;
    max-height: 0;
    overflow: hidden;
}
.container-topbar{
    display: none;
}
.navbar{
    display: none;
}
#toggler{
    display: none;
}
label{
    display: inline-flex;

}
label i{
    color: white;
}
#toggler:checked~.menu{
    max-height: 100%;
   
}
.list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;

}
.icons-mobilenav{
    display: flex;
    justify-content: space-between;
}

.list li {
    font-family: 'Roboto';
    font-size: 21.58px;
    font-weight: 500;
    text-transform: uppercase;

}
.login-signup-mobilenav{
    display: flex;
    column-gap: 18px;
}
.login-signup-mobilenav a{
    text-decoration: none;
    color: hsl(0deg 0% 100%);
    border: 1px solid white;
    background-color: hsl(81.47deg 81.43% 21.78%);
    font-family: 'Roboto';
    font-size: 18.83px;
    padding: 7px 13px;
    border-radius: 16px 0px;
    text-transform: uppercase;
}
.icons-mobile-nav{
    display: flex;
    column-gap: 77px;
    padding: 15px;
}
.icons-mobile-nav a{
    color: white;
    font-size: 27px;
font-weight: 300;
}
.icons-mobile-nav a sup{
    
  border: 3px solid #668c1b;
    background: #668c1b;
    border-radius: 10px;
    padding: 1px 4px;
    font-size: 10.67px;
    font-family: 'Roboto';
    margin: 0px 0px 0px 4px;
}
.searchbar-mobilenav{
    
    border-bottom: 1px solid white;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16.67px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.searchbar-mobilenav input{
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto' ;
    color: white ;

}
.searchbar-mobilenav input.searchbar-text::placeholder{
    color: white;
    background-color: transparent;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto' ;
}

/* style for about us */
.about-us-txt {
    text-align: center;
    padding: 110px 0px 21px 0px;
}
.about-us-txt h1.Background {
  
    font-size: 50px;
    
}
.about-us-txt h1 {
    font-size: 31px;
    margin-top: -47px;
}
.about-us-txt p {
   width: auto;
   font-size: 17px;
   
}

/* style for service */
.services-txt h1 {
    
    font-size: 39px;
    margin-top: -68px;
}
    .services-txt h1.Background1 {
      
        font-size: 74px;
       
        padding-left: 0px;
    }
    .services-txt p {
       
        font-size: 17px;
        width: auto;
    }
    .services-txt {
      
        padding: 90px 0px 77px 0px;
    }
/* style for Pricing */
.pricing-txt {
    text-align: center;
    padding: 60px 0px 60px 0px;
}
.pricing-txt h1 {
    font-size: 38px;
    margin-top: -67px;
     
   }

   .pricing-txt h1.Background2 {
    
    font-size: 75px;
    
    padding-left: 0px;
}
.pricing-txt p {
    width: auto;
    padding-top: 38px;
   font-size: 20px;
    padding-left: 0px;
}
/* style for blog */
.blog-txt {
    
    padding: 99px 0px 0px 0px;
}
.blog-txt h1 {
   
    font-size: 38px;
    margin-top: -70px;
}


    
    .blog-txt h1.Background3 {
        
        font-size: 80px;
        
    }
    .blog-txt p {
        width: auto;
        
        padding-top: 36px;
        
        font-size: 21px;
        
        padding-left: 0px;
    }

/* styling for main container padding */
.maincontainer-pad{
    padding-left: 20px;
    padding-right: 20px;
    }
/* styling for blog cards  */
.blog-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
   
    padding-bottom: 0px;
    flex-direction: column;
    row-gap: 18px;
}

.blog-cards .blog-img1 {

    width: 100%;
    

}

.blog-cards .blog-img1 img {
    width: 100%;
    

}

.blog-cards .blog-content-width {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

.blog-cards .blog-content {
    width: 100%;

    padding: 9px 0px 9px 2px;
    height: auto;
}

.blog-cards .blog-content h1 {
    color: hsl(78.56deg 100% 19.02%);
    font-size: 34.33px;
    font-family: 'Roboto';
    font-weight: 500;
    margin-top: 11px;
    margin-bottom: 10px;
    padding-left: 6px;
}

.blog-cards .blog-content p {
    color: hsl(75.56deg 48.5% 32.75%);
    font-size: 25px;
    font-family: 'Roboto';
    font-weight: 400;
    padding-left: 5px;
    padding-right: 10px;
}

.blog-cards .blog-content .blog-btn a {
    text-decoration: none;
    color: white;
    border: 1px solid hsl(81.47deg 100% 18.63%);
    background-color: hsl(81.47deg 100% 18.63%);
    font-family: 'Roboto';
    font-size: 16.83px;
    padding: 12px 28px;
    border-radius: 27px 0px;
    font-weight: 400;
}

.blog-cards .blog-content .blog-btn {
    margin-top: 38px;
    margin-bottom: 35px;
    display: inline-block;
    padding-left: 5px;
}

.blog-cards .blog-img2 {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

.blog-cards .blog-img2 img {
    width: 100%;
    height: auto;


}




/* styling for content bg img */


.bg-img .content-bg-img h1 {

    font-size: 40.67px;

}

.bg-img .content-bg-img h2 {

    font-size: 34.17px;

    font-weight: 500;

}

.bg-img .content-bg-img hr {

    width: 220px;
    border-radius: 25px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.bg-img .content-bg-img p {

    font-size: 14.93px;
    margin-top: 27px;
    margin-bottom: 27px;
    width: auto;
    text-align: justify;
}

.content-bg-img .order-btn a {


    font-size: 9.83px;
    padding: 19px 28px;
}
.content-bg-img .order-btn a.btn-i {
    margin-right: 48px;
}

.content-bg-img .order-btn a.btn-a {
    margin: 0px 0px 0px 0px;
}
.content-bg-img .order-btn {
    margin-top: 17px;
    margin-bottom: 39px;
   

}

.content-bg-img {
    padding: 18px 20px;
}
.bg-img {
    background-color: hsl(0deg 0% 95.29%) !important;
    width: 100%;
    background-image: none;
    margin-top: 20px;
}

/* style for section 1 */
.content_col {
    width: 100%;
  
}
.cat_title {
   
    font-size: 34.17px;
    text-align: justify;
    
}

.cat_dec {
   
    font-size: 16px;
    
}

.btn-hks {
    text-decoration: none;
    color: white;
    border: 1px solid hsl(81.47deg 100% 18.63%);
    background-color: hsl(81.47deg 100% 18.63%);
    font-family: 'Roboto';
    font-size: 9.83px;
    padding: 22px 38px;
    border-radius: 27px 0px;
    text-transform: uppercase;
}

.main_wrap {
    display: flex;
    justify-content: normal;
    column-gap: 0px;
    padding-bottom: 30px;
    flex-direction: column;
    row-gap: 36px;
}
.video_col {
    position: relative;
    width: 100%;
}
.video_col video{
    width: 97% !important;
    aspect-ratio: auto;
}
.order-hks {
    margin-top: 15px;
    display: flex;
    
    
}



.hks-before::before {
   
    top: -14px;
    left: -1px;
    width: 182px;
    height: 140px;
   
}
/* style for section 2 */
.down-section {
    display: flex;
    justify-content: normal;
    column-gap: 0px;
    padding-top: 20px;
    flex-direction: column;
    row-gap: 36px;
}
.hks-before1{
    display: flex;
    justify-content: flex-end;
}
.video_col1 {
    position: relative;
    width: 100%;

}
.video_col1 video {
    aspect-ratio: auto;
}
.hks-before1::before {
   
    top: -14px;
    left: -1px;
    width: 182px;
    height: 140px;
   
}
/* styling for section3-pt1 pt2 pt3 */


.section3-pt1 .width-40-pt1 {
   
    width: auto;
}

.width-60-pt1 {
    width: auto;
    row-gap: 20px;
}
.sec3-pt1-width {
  flex-direction: column;
  row-gap: 15px;
}

/* styling for bg-img 2 */
.bg-img2 {
   
    margin-top: 34px;
    background-color: hsl(30deg 6.67% 88.24%);
    background-image: none;
}


.bg-img2 .content-bg-img2 h1 {
    
    font-size: 35.33px;
    
}

.bg-img2 .content-bg-img2 h2 {
   
    font-size: 28.33px;
   text-align: justify;

}

.bg-img2 .content-bg-img2 h6 {
   
    font-size: 17.33px;
    
    letter-spacing: 6px;
}



.bg-img2 .content-bg-img2 p {
   
   
    font-size: 13.83px;
    margin-top: 12px;
    margin-bottom: 14px;
    width: auto;
    text-align: justify;
}

.content-bg-img2 .order-btn2 a {
   
    font-size: 10.83px;
    padding: 19px 23px;
   
    
}


.content-bg-img2 .order-btn2 {
    margin-top: 26px;
    margin-bottom: 18px;
   
}

.content-bg-img2 {
    padding: 22px 20px;
    
}

/* Styling for cards */

.cards-width-main {
    
    margin: 4px 0px 4px 0px;
    display: flex;
   flex-direction: column;
    row-gap: 35px;
}

.cards-width-main .first-card {
    width: 100%;
    

   
}
.first-card .upper-heading1 {
     height: 167px;
   text-align: center;
    padding-top: 59px;
}
.first-card .down-heading1 {
   
    padding-top: 46px;
    }


.first-card .upper-heading1 h1 {
    
    font-size: 37.67px;
    
}

.first-card .upper-heading1 h2 {
   
   
    font-size: 52.33px;
   
}


.first-card .down-heading1 h1 {
   
    font-size: 25.17px;
   
}



.first-card .down-heading1 .card1-btn a {
   
    font-size: 15.83px;
    

}

/* styling for second card */

.cards-width-main .second-card {
    width: 100%;
    display: flex;
    flex-direction: column;

}
.second-card .upper-heading2 {
    
    padding-top: 42px;
}
.second-card .down-heading2 {
    
    padding-top: 39px;
    
}
.second-card .upper-heading2 ::before {
   
 
    top: 22px;
    right: -46px;
  
    transform: rotate(36deg);
   
    padding: 2px;
   
    font-size: 17.7px;
   

}



.second-card .upper-heading2 h1 {
    
    font-size: 37.67px;
   
}

.second-card .upper-heading2 h2 {
    
    font-size: 52.33px;
    
}



.second-card .down-heading2 h1 {
   
    font-size: 25.17px;
   
}



.second-card .down-heading2 .card2-btn a {
    
    
    font-size: 15.83px;
    padding: 14px 36px;
    

}

/* style for 3rd card */
.cards-width-main .third-card {
    width: 100%;
   }
   .third-card .upper-heading3 {
   padding-top: 44px;
}
.third-card .down-heading3 {
    
    padding-top: 45px;
    
}
.third-card .upper-heading3 h1 {
   font-size: 37.67px;
    }
.third-card .upper-heading3 h2 {
     font-size: 52.33px;
    }
.third-card .down-heading3 h1 {
   font-size: 25.17px;
    }
.third-card .down-heading3 .card3-btn a {
      font-size: 15.83px;
   }

   /* styling for bg img-3 */
   .bg-img3 {
     margin-top: 24px;
     background-color: hsl(20deg 33.33% 96.47%);
     background-image: none;
}


.bg-img3 .content-bg-img3 h1 {
   
    font-size: 36.33px;
    
}

.bg-img3 .content-bg-img3 h2 {
   font-size: 28.33px;
    letter-spacing: 0px;
    
}

.bg-img3 .content-bg-img3 h6 {
    font-size: 18.33px;
    letter-spacing: 5px;
}



.bg-img3 .content-bg-img3 p {
    font-size: 13.83px;
    margin-top: 12px;
    margin-bottom: 14px;
    width: auto;
    text-align: justify;
   
    letter-spacing: 0px;
}
.content-bg-img3 .order-btn3 a {
    font-size: 9.83px;
    padding: 19px 23px;
   }
.content-bg-img3 .order-btn3 {
    margin-top: 30px;
    margin-bottom: 34px;
  }
.content-bg-img3 {
    padding: 24px 21px;
}

/* styling for footer */

.footer-content {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    line-height: 70px;
}

.footer-content .footer-logo img {
    width: 93px;
    margin: auto;
    display: flex;


}

.footer-content h1 {
    color: #ffffff;
    font-size: 35px;
    font-family: 'Roboto';
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 14px;

}

.footer-content h2 {
    
    font-size: 24.33px;
   
   
   
}

.footer-content a {
    
    font-size: 30.68px;
    

}

.footer-content .footer-icons {
    display: flex;
    justify-content: center;
    column-gap: 11px;
}

.footer-content .footer-icons i {
    
    padding: 5px;
    
    font-size: 20px;
    margin-top: 28px;
    margin-bottom: 16px;
}
footer{
    background-size: contain;
    background-repeat: round;
display: block;
}
footer .footer-content .footer-logo {
    padding-top: 12px;
}
